flask
djangoasgiref==3.5.0
beautifulsoup4==4.10.0
bs4==0.0.1
Django==4.0.3
graphviz==0.19.1
image==1.5.33
imageio==2.16.1
imageio-ffmpeg==0.4.5
images2gif==1.0.1
lxml==4.7.1
numpy==1.22.3
Pillow==9.0.1
pygame==2.1.2
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tabulate==0.8.9
tk==0.1.0
tzdata==2022.1
